.gallery {
    display: flex;
    width: 80vw;
    max-width: 800px;
    align-items: center;
    justify-content: center;
}

.panel {
    height: 40vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2); 
    border: 1px solid #30475E;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    margin: 10px;
    color: #DDDDDD;
    flex: 0.5;
    
    transition: all 0.8s ease-in-out;
}

.panel h2 {
    font-size: 32px;
    position: absolute;
    bottom: 16px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h2 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

.gif {
    position: relative;
    cursor: pointer;
    width: calc(100vw - 32px);
    max-width: 320px;
    margin: 10px;
    border: 1px solid #30475E;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2); 
    border-radius: 50px;
    transition: all 0.8s ease-in-out;
}

.video {
    width: 256px;
    max-width: 854px;
    height: 64px;
    max-height: 480px;
    margin: 20px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    border: 2px solid white;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2); 
    overflow: hidden;

    transition: all 0.8s ease-in-out;
}

.video button {
    position: absolute;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 6px;
    right: 6px;
    width: 48px;
    height: 48px;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    outline: none;
    border: none;
    background: none;
    z-index: 2;
}

.video button canvas {
    width: 42px;
    height: 42px;
}

.video video {
    width: 100%;
    display: none;

    transition: all 0.8s ease-in-out;
}

.video-preview {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    transition: all 0.8s ease-in-out;
}

.video-preview img {
    border: none;
    border-radius: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 1;
}

@media (max-width: 480px) {
    .gallery {
        width: 92vw;
    }

    .panel:nth-of-type(4) {
        display: none;
    }
}